#ticker-bar {
  background-color: rgb(30, 30, 30);
  font-size: 100%;
  /* font-size: 100%;- for the really zoomed in version*/
}

.navbar {
  background-color: rgb(30, 30, 30);
}

.form-control {
  background-color: transparent;
  border: transparent;
  outline-width: 0px;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

.form-control:focus {
  background-color: transparent;
  color: white;
  box-shadow: none;
}
