.tickerline{
    padding: 0px;
}

.navbar{
    padding-left: 5px;
    padding-bottom: 5px;
}

.card {
    background-color: transparent;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.247);
    padding: .3rem;
}


.card-body {
    background-color: transparent;
    border-width: 1px;
    border-color: transparent;
    padding: .5rem;
}