.tickerline {
	padding: 0px;
}

.navbar {
	padding-left: 5px;
	padding-bottom: 5px;
}

.card {
	background-color: transparent;
	border-width: 1px;
	border-color: transparent;
}

.card-body {
	background-color: transparent;
	padding: 0.1rem;
}

canvas {
	padding-top: 4px;
}

hr {
	max-width: 100%;
	width: auto;
	margin: 0%;
	background-color: rgb(128, 128, 128);
}
